<%= form_with(model: @post) do |form| %>
    <div class="container form">
        <h3>Create Post</h3>
        <div>
            <%= form.text_field :title, placeholder: "Post title" %>
        </div>
        <div>
            <%= form.text_area :content, placeholder: "What are your thoughts?" %><br>
        </div>
        <div>
        <%= form.submit "Submit", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
<% end %>